.row
  .col-4
    %table{:width=>"100%",:border=>"1"}
      %tr
        %th #
        %th Name
        %th Mobile
      %tr
        %td 1
        %td Abhijeet
        %td 8408078255
      %tr
        %td 2
        %td Abhay
        %td 8805745988
      %tr 
        %td 3
        %td Sai
        %td 9657026705